<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  {% for i in user %}
  <tr>
    <th>Nmae</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{i.name}}</td>
    <td>{{i.email}}</td>
 
  <td>
    <a href="/delete/{{i.pk}}" class="btn btn-denger">delete</a>
  
    <a href="/update/{{i.id}}" class="btn btn-primary">Edit</a>
  </tr>
</td>

</table>
{% endfor %}

</body>
</html>

